body {
    background-color: lightpink !important;
}

.params {
    min-height: 100vh;
}

.feedback {
    display: none;
}

.showFeedback {
    display: block;
}

.messageContent {
    font-size: 2rem;
    color: rgb(114, 212, 114);
}

.messageContainer {
    background-color: rgb(255, 232, 246);
}